extends layout

block content
  div(class='brackets')

  div(class='overlay hidden')
    
    div(class='vs-container')
      div(class='vs-avatar team1')
        img(src='images/kriwkrow.jpg')
        div(class='vs-nick nick1')= 'andrejod'

      div(class='vs-avatar team2')
        img(src='images/kriwkrow.jpg')
        div(class='vs-nick nick2')= 'kriwkrow'

    div(class='vs-comparator') 
      span= 'vs'  
  
    div(class='countdown-container hidden')  
      div(class='countdown-digit')
        span= '3'

  script(src='/javascripts/brackets.js')